:root {
  --clr-bar-0: rgba(71, 232, 235, 0.4);
  --clr-bar-1: rgb(74, 186, 55, 0.2);
  --clr-bar-2: rgb(88, 149, 235, 0.2);
  --clr-bar-3: rgb(251, 108, 108, 0.2);
  --clr-bar-4: rgba(251, 108, 208, 0.2);
  --clr-bord-0: rgba(71, 232, 235);
  --clr-bord-1: rgb(74, 186, 55);
  --clr-bord-2: rgb(88, 149, 235);
  --clr-bord-3: rgb(251, 108, 108);
  --clr-bord-4: rgba(251, 108, 208);
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(18, 18, 30);
  box-shadow: inset 0px 0px 10px 1px var(--clr-bar-0);
  overflow: hidden;
}

#col-title {
  right: 0;
  bottom: 0;
  position: absolute;
  color: white;
  font-size: 1.2rem;
  margin: 10px;
  font-variant: small-caps;
  cursor: pointer;
}
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  place-content: center;
}
.out-window {
  margin-top: 4rem;
  color: var(--clr-bord-0);
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0);
  width: 15%;
  height: 100%;
  right: 0;
  padding: 10px;
  position: fixed;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 80vh;
  scrollbar-width: none;
}
.out-window::-webkit-scrollbar {
  display: none;
}
.bar {
  display: flex;
  position: absolute;
  background-color: var(--clr-bar-0);
  min-width: 50px;
  min-height: 30px;
  max-height: 90vh;
  bottom: 0;
  place-content: center;
  border: 1px solid var(--clr-bord-0);
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: 399ms;
}
.bar2 {
  display: flex;
  position: absolute;
  background-color: var(--clr-bar-0);
  min-width: 50px;
  min-height: 30px;
  max-height: 90vh;
  bottom: 0;
  place-content: center;
  border: 1px solid var(--clr-bord-0);
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: 399ms;
  animation: bar2ani 2s linear 0s 1 forwards;
}
@keyframes bar2ani {
  0% {
    transform: translate(-75px, 0);
  }
  20% {
    transform: translate(-150px, 0);
  }
  40% {
    transform: translate(-225px, 0);
  }
  60% {
    transform: translate(-300px, 0);
  }
  80% {
    transform: translate(-375px, 0);
  }
  90% {
    opacity: 1;
    transform: translate(-412px, 0);
  }
  100% {
    transform: translate(-450px, 0);
    opacity: 0;
  }
}
#numb {
  font-weight: bold;
  position: absolute;
  color: white;
  font-size: 1.25rem;
  padding: 5px;
}
.top-cont {
  display: flex;
  padding: 10px;
  height: 2rem;
  transition: opacity 2s;
}
#start-num {
  color: white;
  font-size: 1.5rem;
}
#usr-inp {
  height: 1.5rem;
  width: 8rem;
  text-align: center;
  border-radius: 5px;
  background-color: white;
}
#submit-btn {
  cursor: pointer;
  display: flex;
  background-color: white;
  color: black;
  justify-content: center;
  align-items: center;
  min-width: 4rem;
  padding: 2px;
  margin: 1px;
  border-radius: 5px;
}

#submit-btn:hover {
  transition: 0.3s;
  background-color: rgb(153, 153, 153);
  color: white;
}
#submit-btn:active {
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0);
  border: 1px rgb(140, 255, 150) solid;
  color: rgb(140, 255, 150);
}
